version = 0.1

[default.deploy.parameters]
stack_name = "payload-doctor"
resolve_s3 = true
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
parameter_overrides = "AllowedOrigins=\"http://localhost:5173,https://main.example.amplifyapp.com\""
